
h1 {
  text-align: center;
}
.memoryGame {
  height: 450px;
  width: 450px;
  position: relative;
  margin: auto;
}
.console {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
